*{
  box-sizing: border-box;
}

.menu_button {
  height: 50px;
  background-color: blue;
  display: inline-flex;
  width: 50%;
  float: left;
  justify-content: center;
  align-items: center;
}

.menu_button a{
  display: flex;
  text-decoraction: none;
}

.menu_button:hover{
  background-color: green;
}