*{
  box-sizing: border-box;
}

#navbar{
  height: 50px;
  margin: 20px 0px;
}

.menu_button {
  height: 50px;
  background-color: blue;
  display: inline-flex;
  width: 50%;
  float: left;
  justify-content: center;
  align-items: center;
}

.menu_button a{
  color: white;
  display: flex;
  text-decoration: none;
}

.menu_button:hover{
  background-color: lightblue;
}